.App {
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 2;
}

.App-logo {
  fill:white;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a{
  margin: 15px;
  color: #00ff15;
  display: inline-block; /* or block */
  text-decoration: none
}
a:hover {
  color:white;
}

.eths{

  color: #00ff15;
  display: flex; /* or block */
  overflow: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
